{% extends "base.html" %}

{% block content %}
<div class="contract-form">
    <h1> 계약하기 </h1>
    <h2> 계약 정보 </h2>
    <div class="conctract-simpleinfo">
        <h5> 마켓명 : {{ market.studio_name }} </h5>
        <h5> 고객명 : {{ user.username }} </h5>
        <h5> 가격 : {{ market.costs }}원 </h5>
    </div>

    <form name="contract_create" method="post" action="{% url 'contract_create' market.pk %}">{% csrf_token %}
        <!-- 숨긴 input. JS data 전달용 -->
        {{ form.start_time }}
        {{ form.end_time }}

        <div class="datetime-pick">
            <h2>촬영 날짜</h2>
            <div class="form-group">
                <div class="col-md-6">
                    <div id="datepicker"></div>
                </div>
            </div>
            <h2>촬영 희망 시간</h2>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <h5><i class="far fa-clock"></i> 시작 시간</h5>
                        <div id="start_timepicker" name="timepicker"></div>
                    </div>
                    <div class="col-md-3 offset-md-2">
                        <h5><i class="far fa-clock"></i> 종료 시간 </h5>
                        <div id="finish_timepicker" name="timepicker"></div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary col-md-4 offset-md-4 contract-btn" type="submit">계약하기</button>
    </form>
</div>
{% endblock %}
