body {
  font-family: 'Noto Sans KR', sans-serif;
}

.navbar > a.logo {
  font-family: 'Do Hyeon', sans-serif;
  color: #0F5ED6 !important;
}

.navbar {
  background-color: white !important;
}

.main_tag {
  margin-left: 30px
}

.main_markets {
  margin-left: 30px
}
