{% extends 'base.html' %}

{% block content %}
<div class="favorite-edit">
    <h1>관심태그 수정하기</h1>
    <form name="favorite_edit" method="POST" action="{% url 'favorite_edit' %}">{% csrf_token %}
        <div class="form-field">
            {{ form.favorite }}
        </div>
        <div class="row">
        <div class="col-md-3 offset-md-3">
            <button class="btn btn-lg btn-primary btn-block" type="submit">저장하기</button>
        </div>
        <div class="col-md-3">
            <a class="btn btn-lg btn-light btn-block" href="{% url 'member_mypage' %}">취소</a>
        </div>
    </form>
</div>
{% endblock %}
