{% extends 'base.html' %}

{% block content %}
    <div class="my_page">
    {% if member_type == '소비자' %}
        <h1>소비자 {{ member_name }}님!</h1>
        <div class="my_page-title">
            <h2>관심태그</h2>
        </div>
        <a href={% url "favorite_edit" %}> <i class="fas fa-edit"></i>수정하기 </a>
        <div class="row">
            {% for tag in favorite %}
            <div class="my_page-tag col-md-2">
                #{{ tag.tag }}
            </div>
            {% endfor %}
        </div>

        <div class="my_page-title">
            <h2>계약정보</h2>
        </div>
        <div class="row">
        {% for contract in contracts %}
            <div class="col-md-4">
                <a href="{% url 'contract_page' contract.id %}" class="market-card my_page-card btn-block">
                    {{ contract.id }}번 계약
                </a>
            </div>
        {% endfor %}
        </div>
    {% elif member_type == '사진작가' %}
        <h1>사진작가 {{ member_name }}님!</h1>
        <div class="my_page-title">
            <h3>내 사진마켓</h3>
        </div>
        <a href={% url "market_add" %}><i class="far fa-plus-square"></i> 사진마켓 추가하기</a>
        <div class="row">
        {% for market in markets %}
        <div class="item col-xs-4 col-lg-4">
            <div class="card">
                <div class="thumbnail">
                    {% if market.photo %}
                        <img class="list-image" src={{ market.photo.url }} />
                    {% else %}
                        <img class="list-image" src="http://placehold.it/400x250/000/fff" alt="" />
                    {% endif %}
                </div>
                <div class="caption">
                    <h2 class="item-title">
                        <a href={% url "market_post" market.pk %}>{{ market.studio_name }}</a>
                    </h2>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>

        <div class="my_page-title">
            <h3>계약정보</h3>
        </div>
        {% for studio_name, studio_contracts in contracts.items %}
            <div class="my_page-title">
                <h4>{{ studio_name }}</h4>
            </div>
            {% if not studio_contracts %}
                <p> 계약건 없음 </p>
            {% else %}
                <p> 계약 건: {{ studio_contracts|length }}건</p>
                <div class="row">
                {% for studio_contract in studio_contracts %}
                    <div class="col-md-4">
                        <a href="{% url 'contract_page' studio_contract.id %}"  class="market-card my_page-card btn-block">
                            {{ studio_contract.id }}번 계약
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
