{% block contents %}
    <div class="contents">
        <div class="form-wrap">
            <form class="form-layout" role="form" name="login" method="POST"
                  action="{% url 'member_login' %}">{% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}" class="form-group-label">ID</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}" class="form-group-label">비밀번호</label>
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                <div class="form-group">
                    {{ form.non_field_errors }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-cta">로그인</button>
                    {{ form.token }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}