{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <form class="form-signin form-layout" role="form" name="login" method="POST"
          action="{% url 'member_login' %}">{% csrf_token %}
        <div class="form-group">
            <input class="form-control" id="{{ form.username.id_for_label }}" placeholder="UserName" maxlength="15" name="{{ form.username.html_name }}" type="text" />
        </div>
        <div class="form-group">
            <input class="form-control" id="{{ form.password.id_for_label }}" placeholder="Password" maxlength="120" name="{{ form.password.html_name }}" type="password" />
        </div>
        <div class="form-group">
            {{ form.non_field_errors }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block">로그인</button>
            {{ form.token }}
        </div>
    </form>
    </div>




{% endblock %}
