{% extends 'base.html' %}

{% block content %}
<div class="sign-up">
    <h2>회원가입</h2>
    <form name="signup" method="post" action="{% url 'member_signup' %}">{% csrf_token %}
        <div class="form-box">
            {% for field in form %}
            <div class="form-label">
                {{ field.label_tag }}
            </div>
            <div class="form-field">
                {{ field }}
                {% if field.help_text %}
                  <div class="form-help-text">
                    <small style="color: grey">{{ field.help_text }}</small>
                  </div>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-primary btn-block" type="submit">회원 가입</button>
        </div>
    </form>
  </div>
{% endblock %}
