{% extends 'base.html' %}
{% load staticfiles %}

{% block full-content %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'img/sparkler-677774_1920.jpg' %}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>당신만을 위한<br> 사진작가를 만나보세요.</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="main_tag">
    <div class="row">
    {% for tag in tags %}
        <div class="col">
            <a href={% url "tag_search" tag.id %}>#{{ tag.tag }}</a>
        </div>
    {% endfor %}
    </div>
</div>

<div class="main_markets">
    <div class="row">
        {% for post in posts %}
        <div class="item col-xs-4 col-lg-4">
            <div class="card">
                <div class="thumbnail">
                    {% if post.market_photo %}
                        <img class="list-image" src={{ post.market_photo.url }} />
                    {% else %}
                        <img class="list-image" src="http://placehold.it/400x250/000/fff" alt="" />
                    {% endif %}
                </div>
                <div class="caption">
                    <h2 class="item-title">
                        <a href={% url "market_post" post.market_id %}>{{ post.market_name }}</a>
                    </h2>
                    <div class="item-desc">
                        {{ post.market_post }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
