{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row market-content">
    <div class="col-md-6 market-info">
        <div class="market-tags">
            {% for tag in tags %}
            <p> #{{ tag.tag }} </p>
            {% endfor %}
        </div>
        <h2>{{ market.studio_name }}</h2>
        {% if reviews %}
            총 추천 별점: {{ market.stars }}
            평균 별점: {{ avg_stars }}
        {% endif %}
        <div class="market-location">
            위치: {{ market.location }}
        </div>
        <div> <!-- 요일 정보는 안 입력했던가? -->
            요일:
        </div>
        <div>
            가능시간:
        </div>
        <div>
            금액: {{ market.costs }}
        </div>

        {% if user_type == 'consumer' %}
            <form action="{% url 'contract_create' market.pk %}" method="GET">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="계약하기"/>
            </form>
        {% endif %}
        <div class="market-posts">
        {{ market.posts }}
        </div>
    </div>

    <div class="col-md-6">
        {% if market.photo %}
            <img class="market-image" src="{{ market.photo.url }}">
        {% endif %}
    </div>
</div>

<div class="market-contract_info">
    {% if user_type == 'photographer' %}
        <h5>소비자와의 계약정보: {{ total_contracts }}건</h5>
        {% if photographer_contract %}
            <div class="row">
            {% for username, contracts in photographer_contract.items %}
                {% for contract in contracts %}
                <div class="col-md-4">
                    <a href="{% url 'contract_page' contract.id %}" class="market-card btn-block">
                        {{ username }}님 과의 {{ contract.id }}번 계약
                    </a>
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}
    {% elif user_type == 'consumer' %}
        <h5>{{ user.username }}님의 {{ market.studio_name }} 계약정보: {{ consumer_contract|length }}건</h5>
        <div class="row">
        {% for contract in consumer_contract %}
            <div class="col-md-4">
                <a href="{% url 'contract_page' contract.id %}" class="market-card btn-block">
                    {{ contract.id }}번 계약
                </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</div>

    <h1>{{ market.studio_name }}에 대한 리뷰: {{ reviews|length }}건</h1>
    {% for review in reviews %}
        {{ review.reviewer_name }}님의 리뷰 | 별점: {{ review.stars }}
        {{ review.review }}
    {% endfor %}
{% endblock %}
